:root {
    --base-color-d: #000000;
    --base-color: #313131;
    --base-color-l: #646464;
    --alt-color-d: #cccccc;
    --alt-color: #ffffff;
    --alt-color-l: #ffffff;


    --base-text-color: #ffffff;
    --alt-text-color: #000000;




    --logo-border-width: 5px ;
}

body{
    margin: 0;
    padding: 0;
}

.main-container
{
    margin: 0;
    padding: 0;
    background: black;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
}

.nav-container
{
    background: var(--base-color);
    height: 100%;
    color: var(--base-text-color);

}

.nav-bar
{
    position: relative;

}

.nav-bar

.nav-bar-item
{
    display: block;
    float: contour;
    margin:  0 1em 0  1em;
    max-width: 80%;
}

.nav-bar-item div
{
    width: 100%;
    padding: calc(1em * .5);
    display: block;
    background: var(--base-color-d);
    border-radius: calc(1em * .3);
    font-size: 1.5em;
}

.nav-logo
{
    aspect-ratio: 1;
    overflow:clip;
    min-width: 50px;
    max-width: 250px;
    margin: 10px;
}

.teka-logo-border
{
    overflow: clip;


    margin: inherit;
    padding: inherit;
    border-color: var(--base-text-color);;
    border-width: var(--logo-border-width);
    border-style: solid;
}

.teka-logo-container {
    width: calc(100% - (var(--logo-border-width)*2));
    margin: 0;
    padding: 0;
    aspect-ratio: 1;
overflow: clip;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* creates 3 columns */
    grid-template-rows: repeat(2, 1fr); /* creates 2 rows */
}

.teka-logo-container .item {

    height: 100%;
    aspect-ratio: 1;
    margin: 0;
    padding: 0;
    overflow: clip;

}

.teka-logo-container .item span {
    display: inline-block;
    overflow: clip;
    font-family: sans-serif;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50.75%;

}

.main-content
{
    background: pink;
    height: 100%;
    width: 100%;

}